body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-size: cover;
      }
  
  .container {
    width: 80%;
    margin: 0 auto;
    font-size: larger;
    
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: xx-large;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    font-style: inherit;
  }
  
  nav ul li a {
    color: yellowgreen
    
  }
  
  .section {
    padding: 40px 0;
    text-align: center;
    font-size: large;
    color:lightpink
  }
  
  footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
  }
 